# taskforge, a task management cli

Task management tool that integrates well with other services.

## Installation

### Install from Release

For now the only way to install taskforge is via pip:

```text
$ pip install {{ package_name }}
```

## Usage

{% for usage in usage_strings %}
### {{ usage.command }}

```text
{{ usage.usage }}
```
{% endfor %}

## Contributing

Contributions are greatly appreciated. We have a process for making a
contribution via Github that you can read in the 
[CONTRIBUTING.md](https://github.com/chasinglogic/taskforge/blob/master/CONTRIBUTING.md)
document.

## License

This code is distributed under the GNU General Public License

```text
    Copyright (C) {{ current_year }} Mathew Robinson

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
```
